
<div class="well">
    <span class="btn btn-primary btn-block inactive">
    Your Shopping Cart <i class="fa fa-shopping-cart"></i>
</span>

<span class="btn btn-default btn-block">
    <span class="badge"> {{getProductsQuantity()}}</span> Discos
</span>

    <div class="table-responsive">

        <!-- Shows only if there are items in cart -->
        <table data-ng-show="cart.length"
               class="table table-hover">

            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>

            <tr data-ng-repeat="product in cart track by $index">

                <td style="width: 50%;">{{product.name}}</td>

                <td style="width: 15%;">

                    <select data-ng-model="product.quantity"
                            data-ng-options="n for n in [] | range:1:{{product.stock}}+1"
                            data-ng-change="updateProduct(product)"
                            class="form-control"></select>

                </td>

                <td style="width: 15%;">{{product.price * product.quantity | currency:"€"}}</td>

                <td style="width: 20%;">
                    <a class='btn btn-danger btn-xs'
                       data-ng-click="removeFromCart($index)">Remove <i class="fa fa-trash-o"></i></a></td>
            </tr>

            <tr>
                <td colspan="2">
                    <p class="text-danger">Total: {{totalPrice() | currency:"€"}}</p>
                </td>
            </tr>
            <tr>
                <td colspan="4">

                    <button class="btn btn-default btn-block"
                            data-ng-click="checkout()"
                            type="button">
                        Checkout <i class="fa fa-credit-card"></i>
                    </button>

                </td>
            </tr>
        </table>
    </div>
</div>

