<div class="container">

    <div class="row">

        <div class="col-md-4 col-md-offset-4">

            <div class="well">

                <h5 class="form-signin-heading">
                    Please sign in
                </h5>

                <form name="loginForm" data-ng-submit="signin(loginForm.$valid)" novalidate>

                    <div class="form-group"
                         data-ng-class="{ 'has-error' : loginForm.username.$invalid && loginForm.username.$dirty, 'has-success' : loginForm.username.$valid && loginForm.username.$dirty }">

                        <label for="username" class="sr-only">Username</label>

                        <input type="text"
                               id="username"
                               name="username"
                               ng-minlength="5"
                               class="form-control"
                               placeholder="Username"
                               required
                               autofocus
                               data-ng-model="username">

                        <p ng-show="loginForm.username.$error.minlength" class="help-block">Username is too short (min 5
                            characters).</p>
                    </div>


                    <div class="form-group"
                         data-ng-class="{ 'has-alert' : loginForm.password.$invalid && loginForm.password.$dirty,
                                          'has-success' : loginForm.password.$valid && loginForm.password.$dirty }"
                        style="padding-bottom: 15px ">

                        <label for="password" class="sr-only">Password</label>

                        <input type="password"
                               id="password"
                               name="password"
                               ng-minlength="5"
                               class="form-control"
                               placeholder="Password"
                               required
                               data-ng-model="password">

                        <p ng-show="loginForm.password.$error.minlength" class="help-block">Password is too short (min 5
                            characters).</p>

                    </div>

                    <button class="btn btn-lg btn-primary btn-block"
                            type="submit"
                            data-ng-disabled="loginForm.$invalid">
                        {{'Sign in' || uppercase}}
                    </button>

                </form>


            </div>

            <div data-ng-show="showError"
                 class="alert alert-warning"
                 role="alert">
                Wrong username or password!
            </div>

        </div>
    </div>
</div>