<div class="container-fluid">

    <div class="row">

        <div ng-show="loading" class="text-center" role="alert"><i class="fa fa-spinner fa-3x fa-spin"></i>
        </div>

        <div class="col-sm-7 col-md-7" data-ng-if="loading">
        </div>

        <div class="col-sm-7 col-md-7 " data-ng-if="!loading">
            <span class="btn btn-inverse btn-block"
                  ng-hide="loading">
            Products <i class="fa fa-newspaper-o"></i>
        </span>

        <span class="btn btn-xs btn-default btn-block">

            <input class="form-control input-xs"
                   ng-hide="loading"
                   data-ng-model="search.Name"
                   placeholder="Search product">
        </span>


            <div class="table-responsive">
                <table class="table table-hover">

                    <tr data-ng-repeat="product in products |filter:search track by $index">
                        <td style="width: 90%;">
                            {{product.Name}}
                        </td>

                        <td>
                            <a class='btn btn-success btn-xs'
                               data-ng-click="addOrder(product)">
                                <i class="fa fa-plus"></i>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>

            <p data-ng-show="(products | filter:search).length==0">No results found</p>
        </div>
        <div class="col-sm-5 col-md-5 hidden-xs"
             data-ng-include
             data-ng-controller="OrderListController"
             src="'js/view/OrderListView.html'"></div>
    </div>
</div>


