<span class="btn btn-inverse btn-block inactive">
    Your Orders <i class="fa fa-truck"></i>
</span>

<span class="btn btn-default btn-block">
    <span class="badge"> {{ordersQuantity()}}</span> Orders
</span>

<div class="table-responsive">

    <!-- Show if there are orders -->
    <table data-ng-show="orders.length"
           class="table table-hover">

        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>

        <tr data-ng-repeat="order in orders track by $index">

            <td style="width: 50%;">
                {{order.Name}}
            </td>

            <td style="width: 15%;">
                <input type="number"
                       data-ng-min="1"
                       ng-model="order.quantity"
                       class="form-control"/>
            </td>

            <td style="width: 15%;">
                {{order.Price * order.quantity | currency:"€"}}
            </td>

            <td style="width: 20%;">
                <a class='btn btn-danger btn-xs'
                   data-ng-click="removeOrder($index)">Remove

                    <i class="fa fa-trash-o"></i>
                </a>
            </td>

        </tr>
        <tr>
            <td colspan="2">
                <p class="text-danger">
                    Total: {{totalPrice() | currency:"€"}}
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <button class="btn btn-default btn-block"
                        type="button"
                        data-ng-click="confirmOrder()">
                    Confirm Order
                    <i class="fa fa-credit-card"></i>
                </button>
            </td>
        </tr>
    </table>
</div>
