<div class="col-sm-4 col-md-4">

    <div class="thumbnail">

        <img class="img-rounded "
             data-ng-src="{{product.image}}">

        <!-- Default image if there is none to the current product -->
        <img data-ng-if="!product.image"
             src="http://i.imgur.com/f8xuRgs.png"
             class="img-rounded"
             height="190" width="190">

        <div class="caption">

            <p class="product-name">{{product.name}}</p>

            <span class="btn btn-xs btn-success btn-block disabled">{{product.price | currency:"€"}}</span>

            <span class="btn btn-xs btn-default btn-block disabled">{{product.stock}} in stock</span>

            <p>
                <!-- Button Add To Cart will be red if the product not available -->
                <a data-ng-class="hasntMore(product) ? 'btn btn-xs btn-danger btn-block' : 'btn btn-xs btn-default btn-block'"

                   data-ng-click="addToCart(product, $event)"

                   data-ng-disabled="hasntMore(product)">Add to Cart <i
                        class="fa fa-shopping-cart"></i></a></p>
        </div>
    </div>
</div>


