<div class="container">

    <div class="row">

        <div class="col-md-4 col-md-offset-4">

            <div class="well">

                <h5 class="form-signin-heading">
                    Create an account
                </h5>

                <form name="signupForm" data-ng-submit="signup(signupForm.$valid)" novalidate>

                    <div class="form-group"
                         data-ng-class="{ 'has-error' : signupForm.username.$invalid && signupForm.username.$dirty,
                                           'has-success' : signupForm.username.$valid && signupForm.username.$dirty }">

                        <label for="usernameInput" class="sr-only">Username</label>

                        <input type="text"
                               ng-minlength="5"
                               data-ng-model="username"
                               placeholder="Username"
                               class="form-control"
                               id="usernameInput"
                               name="username"
                               required
                               autofocus>

                        <p ng-show="signupForm.username.$error.minlength" class="help-block">Username is too short (min 5
                            characters).</p>
                    </div>

                    <div class="form-group"
                         data-ng-class="{ 'has-error' : signupForm.password.$invalid && signupForm.password.$dirty,
                                           'has-success' : signupForm.password.$valid && signupForm.password.$dirty }"
                         style="padding-bottom: 15px ">

                        <label for="passwordInput" class="sr-only">Password</label>

                        <input data-ng-model="password"
                               ng-minlength="5"
                               id="passwordInput"
                               name="password"
                               placeholder="Password"
                               class="form-control"
                               type="password"
                               required>

                        <p ng-show="signupForm.password.$error.minlength" class="help-block">Password is too short (min
                            5
                            characters).</p>

                    </div>

                    <button class="btn btn-lg btn-primary btn-block"
                            type="submit"
                            data-ng-disabled="signupForm.$invalid">
                        {{'Create Account' || uppercase}}
                    </button>
                </form>
            </div>

            <div data-ng-show="showCreatedAccountMessage"
                 class="alert alert-success"
                 role="alert">
                Welcome {{username}}, your
                account was created with success!
                You will be redirected to the home page
            </div>
        </div>
    </div>
</div>