<div class="jumbotron">
    <h1>404 Page not found</h1>

    <p>
        <a class="btn btn-default btn-lg"
           href="#"
           role="button">
            Go back
        </a>
    </p>

</div>