<nav class="navbar navbar-default navbar-static-top"
     role="navigation">

    <div class="container">

        <div class="navbar-header">

            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#navbar"
                    aria-expanded="false"
                    aria-controls="navbar">

                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>


            <a class="navbar-brand" href="#">

                &nbsp;  MUSIC STORE
            </a>


        </div>


        <div id="navbar"
             class="navbar-collapse collapse"
             aria-expanded="false"
             style="height: 1px;">

            <ul class="nav navbar-nav">
                <li data-ng-if="isLogged()">
                    <a href="#">
                        <i class="fa fa-home fa-fw"></i>
                        &nbsp; Home
                    </a>
                </li>


                <li data-ng-if="isLogged()">
                    <a href="#shoppingCart">
                        <i class="fa fa-shopping-cart fa-fw"></i>
                        &nbsp; Shopping Cart
                    </a>
                </li>


                <li data-ng-if="isAdmin()">
                    <a href="#orders">
                        <i class="fa fa-truck fa-fw"></i>
                        &nbsp; Orders
                    </a>
                </li>

            </ul>


            <ul class="nav navbar-nav navbar-right">

                <li data-ng-if="!isLogged()">
                    <a href="#signup">
                        <span class="fa fa-user"></span>
                        Sign Up
                    </a>
                </li>

                <li data-ng-if="!isLogged()">
                    <a href="#login">
                        <span class="fa fa-sign-in"></span>
                        Sign in
                    </a>
                </li>

                <li data-ng-if="isLogged()"
                    data-ng-click="signout()">
                    <a href="#">
                        <span class="fa fa-sign-out"></span>
                        Sign out, {{getUsername().username}}
                    </a>
                </li>

            </ul>

        </div>
    </div>
</nav>