<div class="container-fluid">


    <div class="row">
        <div ng-show="loading" class="well text-center" role="alert"><i class="fa fa-spinner fa-3x fa-spin"></i>
        </div>
        <div class="col-sm-7 col-md-7 well" data-ng-if="!loading">
            <h3 class="center-block">Best Sellers</h3>

            <div class="well">
                <product-item class="produto"
                              ng-repeat="product in products | limitTo:3 |orderBy:'name' track by $index"></product-item>
            </div>

            <h3 class="center-block">{{title}}</h3>

            <input class="form-control" ng-model="search.name" placeholder="Search disc"> <br/>


            <div class="row">
                <div class="col-md-12">
                    <div class="well well-lg">


                        <div class="btn-group">
                            <button class="btn btn-default"
                                    disabled
                                    type="button">
                                {{'Sort by:' | uppercase}}&nbsp;
                            </button>

                            <button class="btn btn-default"
                                    data-ng-click="choosen = 'name'; reverse=false"
                                    type="button">
                                Name&nbsp;
                                <i class="fa fa-sort-alpha-asc"></i>
                            </button>
                            <button class="btn btn-default"
                                    data-ng-click="choosen = 'name'; reverse=true"
                                    type="button">
                                Name&nbsp;<i class="fa fa-sort-alpha-desc"></i>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-default"
                                    data-ng-click="choosen = 'price'; reverse=false"
                                    type="button">
                                Price &nbsp;<i class="fa fa-sort-numeric-asc"></i>
                            </button>
                            <button class="btn btn-default"
                                    data-ng-click="choosen = 'price'; reverse=true"
                                    type="button">
                                Price&nbsp;
                                <i class="fa fa-sort-numeric-desc"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <product-item class="produto"
                          ng-repeat="product in products | filter:search | orderBy:choosen:reverse track by $index"></product-item>
            <p ng-show="(products | filter:search).length==0">No results found</p>
        </div>

        <div ng-if="isLogged()" class="col-sm-5 col-md-5 hidden-xs" ng-include data-ng-controller="CartController"
             src="'js/view/CartView.html'"></div>
        <div class="clearfix"></div>
    </div>
</div>


