<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://bootswatch.com/paper/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="js/angular.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/angular-cookies.min.js"></script>
    <script src="js/angular-animate.js"></script>
</head>

<body>

<div class="container-fluid" ng-app="StoreApp">

    <header data-ng-include="'js/templates/header.html'"
            data-ng-controller="AuthenticationController">
    </header>

    <div data-ng-view>
    </div>

    <div data-ng-controller="StoreController">
        <button class="btn btn-lg btn-default btn-block"
                type="button"
                data-ng-click="visible = !visible"
                ng-class="{ active: visible}">
            {{'widget' || uppercase}}
            <i class="fa fa-lastfm-square fa-lg"></i>

        </button>

        <div data-ng-show="visible"
             class="embed-responsive embed-responsive-16by9 panel"
             style="padding-top: 50px">

            <iframe class="embed-responsive-item" src="../../music-sux/index.html"></iframe>

        </div>
    </div>


    <footer class="footer"
            data-ng-include="'js/templates/footer.html'">
    </footer>

</div>


<script src="js/app.js"></script>
<script src="js/controllers/StoreController.js"></script>
<script src="js/controllers/CartController.js"></script>
<script src="js/controllers/AuthenticationController.js"></script>
<script src="js/controllers/OrderController.js"></script>
<script src="js/controllers/OrderListController.js"></script>
<script src="js/services/ProductService.js"></script>
<script src="js/services/ShoppingCartService.js"></script>
<script src="js/services/AuthenticationService.js"></script>
<script src="js/services/OrderService.js"></script>
<script src="js/services/CartAPI.js"></script>
<script src="js/directives/ProductDirective.js"></script>
<script src="js/filters/RangeFilter.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>

</html>


